* {
  margin:0;
  padding: 0;
}
.navbar-b{
  font-family: 'Dancing Script', cursive;
}
.topic {
  font-family: 'Reggae One', cursive !important;
  background: linear-gradient(#212529 40%, #004085 70%);
    background-clip: text;
	-webkit-background-clip: text;
  color: transparent;
}